.container{
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reactButtons{
    display: flex;
    align-items: center;
    gap: 16px;
}

.likes{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--text-muted);
    width: fit-content;
    height: 32px;
    padding: 1px 12px;
    background-color: var(--secondaryBackgroundColor);
    border-radius: 9999px;
}

.emoji, .comment{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--secondaryBackgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
}


.commentCount{
    font-size: 14px;
    color: var(--secondaryFontColor);
}

