.container {
  width: 50vw;
  height: 4vw;
  border: 2px solid #b8860b;
  border-radius: 24px;
  cursor: pointer;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}
.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.placeholderText {
}
