body{
  margin: 0;
}
.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primaryBackgroundColor);
  color: var(--primaryFontColor);
  transition: background-color 0.3s ease;
}

.mainLayout {
  display: flex;
  flex: 1;
  background-color: var(--primaryBackgroundColor)
  overflow: hidden;
}

.contentArea {
  flex: 1;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  overflow-y: auto;
  position: relative;
  left: 100px;

}

.challengeTitle {
  align-self: flex-start;
  max-width: 580px;
  width: 100%;
  margin: 0 auto 10px auto;
  font-size: 20px;
  font-weight: 700;
}

/* Responsive adjustment [cite: 61, 62] */
@media (max-width: 768px) {
  .mainLayout {
    flex-direction: column;
  }
}
