.card {
  background: var(--card-bg);
  border: 1px solid #EAE7EC;
  border-radius: 24px;
  /* width: 100%; */
  max-width: 580px;
  overflow: hidden; /* Ensures confetti header stays within rounded corners */
  padding: 10px;
  margin: 40px 0;
}

.pinned{
  border-bottom: 2px solid #EAE7EC;
  width: 100%;
  margin: 0 -10px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userInfo {
  height: 40px;
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.timestamp {
  font-size: 12px;
  color: var(--text-muted);
}

.moreButton{
  font-size: 24px;
  color: var(--text-muted);
  cursor: pointer;
}

.content {
  padding: 0 12px 12px;
}

.imageContainer {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  border-radius: 12px;
  backdrop-filter: blur(100px);
  background-repeat: no-repeat;
  background-size: cover;
}

.image {
  display: flex;
  justify-content: center;
  max-width: 100%;

}